<script context="module">
export async function preload(page,session) {


}
</script>

<script>
</script>

<h1> Here are a list of mine locations! </h1>
<p> You can Add, Edit, Update and Remove these later on </p>
<p> For now it will just be adding an a list of locations</p>