<script>
	import { stores } from '@sapper/app';
	const { session } = stores();
</script>

<script context="module">
	export async function preload(page,session) {
		const { token } = session;
		if(!token) {
			
		} 
	}
</script>

<style>
	h1, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}
	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<h1>Welcome to TaskingTS</h1>

<p>Here will be the main page. Including: </p>

<p>Friends List</p>
<p>Backpack info</p>
<p>And loads more!</p>