<script>
import { onMount } from "svelte";
import { goto, stores } from "@sapper/app";
const { session } = stores();

let seconds = 10

onMount(() => {
    setInterval(() => {
        handleLogout()
        $session.token = undefined
        seconds -= 1
        if(seconds === 0) {
            goto('/')
        }
    }, 1000)
})

async function handleLogout() {
    const logoutCheck = await fetch('/logout', {
        method: 'PUT',
        headers : {
            'Content-Type' : 'application/json'
        }
    }); 
}

</script> 

<h1> You are logged out! </h1>


<p> You will be redirected to the mainpage in {seconds} seconds</p>