<script>

import { goto, stores } from "@sapper/app";
const { session } = stores();

let password = "";
let username = "";
let error = "";
 

async function handleRegister() {
    const registerCheck = await fetch('/register', {
        method: 'POST',
        body: JSON.stringify({username, password}),
        headers : {
            'Content-Type' : 'application/json'
        }
    });

    const parsed = await registerCheck.json()
    if(parsed.error) {
        error = parsed.error
    } else {
        $session.token = parsed.token
        goto('/')
    }
}

</script>

<h1>Register</h1>

<form on:submit|preventDefault="{handleRegister}">
    <label>
        Username: 
        <input type="Text" bind:value="{username}" />
    </label>
    <label>
        Password:
        <input type="password" bind:value="{password}" />
    </label>
    <button type="submit" disabled={!username || !password}>Register</button>
</form>

{#if error}
<p> An Error occured! <br> {error}</p>
{/if}