<script>

import {
    Navbar,
    Nav,
    NavItem,
    NavLink,
    Dropdown,
    DropdownToggle,
    DropdownItem,
    DropdownMenu
  } from 'sveltestrap/src';

import { stores } from "@sapper/app";
const { session } = stores();
let userData = [];
let manageSection = [];

async function discordNavbarElements(){
  let userData = [];
  if(typeof fetch === 'undefined') { return }
  const discordLoggedIn = await fetch('/login', {
      method : 'GET',
      headers : {
            'Content-Type' : 'application/json'
        }
    });
    const response = await discordLoggedIn.json();
    if (response.token) {
      userData.push("user/profile");
      userData.push("user/logout");
      manageSection.push("manage/role");
      manageSection.push("manage/command");
      manageSection.push("manage/mine");
      manageSection.push("manage/item");
      manageSection.push("manage/droptable")
    }
    return ({user: userData, manage: manageSection});
}

async function webLoginNavbarElements(){
  session.subscribe(async ($session) => {
    if ($session.token) {
      userData.push("user/logout");
      userData.push("user/profile");
    } else {
      userData.push("user/login");
    }
  })
  return userData
}
</script>


<Navbar color="dark" dark expand="md">
  <Nav navbar>
    {#await discordNavbarElements()}
    <NavItem>
      <NavLink> Elements are being fetched!</NavLink>
    </NavItem>
    {:then elements} 
      {#if elements.user.length > 0}
        {#each elements.user as userEl}
        <NavItem>
          <NavLink rel="prefetch" href={userEl}>{userEl.split("/")[1]}</NavLink>
        </NavItem>
        {/each}
      {/if}
      {#if elements.manage.length > 0}
        <Dropdown nav setActiveFromChild>
          <DropdownToggle nav caret> Manage </DropdownToggle>
            <DropdownMenu dark>
              {#each elements.manage as manageEl}
                <DropdownItem rel="prefetch" href={manageEl}>{manageEl.split("/")[1]}</DropdownItem>
              {/each}
          </DropdownMenu>
        </Dropdown> 
      {/if}
    {/await}
  </Nav>
</Navbar>