<script context="module">
    let fetchedItems = [];
    export async function preload(page,session) {
        const itemFetch = await this.fetch('/api/item',{
            method: "GET",
            headers : {
            'Content-Type' : 'application/json'
            }
        })
        const itemResponse = await itemFetch.json();
        for (const item of itemResponse.result) {
            fetchedItems.push({value: item.id, label: item.name})
        }
    }
</script>

<script>
    let selectedItem;

    async function handleItemChange(){
        // TODO : Make the edit functionality
    }

    let name, value, craftable, maxstack, tradeable, obtainable, examine
    let error; 
    let success;
    async function addItem(){
        error = undefined
        success = undefined
        const addItemRequest = await fetch('/api/item',{
            method: "POST",
            body: JSON.stringify({name, value, craftable, maxstack, tradeable, obtainable, examine}),
            headers : {
            'Content-Type' : 'application/json'
            }
        });
        const addItemResponse = await addItemRequest.json();
        if(addItemResponse.result.error){
            error = addItemResponse.result.error;
        }else{
            success = "Item has been added to the database";
        }
    }
</script>

<h1>Item manager</h1>
<p>Add an item!</p>

<form on:submit|preventDefault="{addItem}" style="display:flex; flex-direction:column; width:fit-content">
    <label>
        Item name
        <input bind:value={name} required> 
    </label>
    <label>
        Item value
        <input bind:value={value} required> 
    </label>
    <label>
        Item craftable
        <select bind:value={craftable}>
            <option value={true} selected > true </option>
            <option value={false}> false </option>
        </select>
        
    </label>
    <label>
        Item maxstack
        <input bind:value={maxstack} type="number" step="1" min="1" max="64" required> 
    </label>
    <label>
        Item tradeable
        <select bind:value={tradeable}>
            <option value={true} selected > true </option>
            <option value={false}> false </option>
        </select>
    </label>
    <label>
        Item obtainable
        <select bind:value={obtainable}>
            <option value={true} selected > true </option>
            <option value={false}> false </option>
        </select>
    </label>
    <label>
        Item examine text
        <input bind:value={examine} required>
    </label>
    <button type="submit"> Add Item</button>
</form>
<br>
{#if error}
    <p>An error occured:<br>{error}</p>
{/if}

{#if success}
    <p>{success}</p>
{/if}

<br>

<!-- svelte-ignore a11y-no-onchange -->
<select bind:value="{selectedItem}" on:change="{handleItemChange}">
    {#each fetchedItems as item }
        <option value={item.value}>{item.label}</option>
    {/each}
</select>
<p> Update an item </p>
<!-- TODO: Create an nice selector where you can type the name of the item you want to edit -->

<p> Delete an item </p>
<!-- Use the nice selector-->