<script context="module">

export async function preload(page,session) {
    /*
    const discordInfo = await this.fetch('/api/discord', {
        method : 'GET',
        headers : {
                'Content-Type' : 'application/json'
            }
    })
    await discordInfo.json()
    username = "Test";
    backpack = "empty";
    */
}

</script>
<h1> User profile! </h1>

<p>Test username</p>
<p>Test backpack info</p> 