<script context="module">
    import { goto } from "@sapper/app";
    export async function preload(page, session) {
        let { discordUser } = session;
        const accessFetch = await this.fetch(`/api/users?discordId=${discordUser.id}`,{
            method: "GET",
            headers : {
            'Content-Type' : 'application/json'
            }
        });
        let accessFetchResult = await accessFetch.json();
        accessFetchResult = accessFetchResult.result[0];
        if(!accessFetchResult.role_id === 1){
            goto('/')
        };
    }
</script>

<script>
    let result;
    let name;
    let desc;
    let cooldown;
async function addCommand(){
    const addPost = await fetch('/api/commands', {
        method: 'POST',
        body: JSON.stringify({commandName: name, commandDesc : desc, commandCooldown : cooldown}),
        headers : {
            'Content-Type' : 'application/json'
        }
    });
    const addPostResult = await addPost.json();
    result = addPostResult.success || addPostResult.error
}
</script>

<h1>Add a command!</h1>
<p> This page will later be splitted up into multiple parts where you can:<br>
    Update,<br>
    Remove,<br>
    And edit! Commands for the discordbot.
</p>

<h2> Add </h2>
<form on:submit|preventDefault="{addCommand}">
    <p>Name</p>
    <input type="text" bind:value="{name}">
    <p>Description</p>
    <input type="text" bind:value="{desc}">
    <p>Cooldown</p>
    <input type="number" min="0" bind:value="{cooldown}"><br>
    <button type="submit"> Add command </button>
</form>
{#if result}
    <p>{result}</p>
{/if}