<script>
import { goto, stores } from "@sapper/app";
import { onMount } from "svelte";
const { session,page } = stores();

let username;
let password;
let error;

async function handleLogin() {
    const loginCheck = await fetch('/login', {
        method: 'POST',
        body : JSON.stringify({username,password}),
        headers : {
            'Content-Type' : 'application/json'
        }
    });

    const parsed = await loginCheck.json();
    if(parsed.error) {
        error = parsed.error;
    } else {
        $session.token = parsed.token;
        goto('/')
    }
}

onMount(async () => {
    if($page.query.code !== undefined){
        const code = $page.query.code
        const loginCheck = await fetch('/login', {
            method: 'POST',
            body: JSON.stringify({code}),
            headers : {
                'Content-Type' : 'application/json'
            }
        })
        await loginCheck
        goto('/')
    }
})
</script>



<h1>Login</h1>

<form on:submit|preventDefault="{handleLogin}">
    <label>
        Username: 
        <input type="Text" bind:value="{username}" />
    </label>
    <label>
        Password:
        <input type="password" bind:value="{password}" />
    </label>
    <button type="submit" disabled={!username || !password}>Login</button>
</form>

<a id="login" style="display" href="https://discord.com/api/oauth2/authorize?client_id=494880631516299274&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fuser%2Flogin&response_type=code&scope=identify">Login using discord</a>

{#if error}
<p> An Error occured! <br> {error}</p>
{/if}