<script context="module">
export async function preload({ params }) {
    let users = [];
	const userFetch = await this.fetch('/api/users',  {
        method: 'GET',
        headers : {
            'Content-Type' : 'application/json'
        }
    });
    let userResponse = await userFetch.json();
    for (const user of userResponse.result) {
        let name = user.discord_name ? user.discord_name : user.web_name;
        users.push({value : user.id, label : name});
    }
    return {users}
}
</script>

<script>

export let users = []

let fetched = false;
let userInfoPromise = Promise.resolve([])
let rolePromise = Promise.resolve([])

let selectedUser;
let selectedRole;
let userRole = undefined;
let roles = []

function handleUserChange(){
    fetched = false;
    userInfoPromise = fetchUserInfo();
    rolePromise = fetchRoles();
    fetched = true;
}

async function fetchUserInfo(){
    const userFetch = await fetch(`/api/users?id=${selectedUser}`, {
        method: 'GET',
        headers : {
            'Content-Type' : 'application/json'
        }
    });
    let userFetchResponse = await userFetch.json();
    userFetchResponse = userFetchResponse.result[0];
    return userFetchResponse;
}

async function fetchRoles() { 
    roles = []
    const roleFetch = await fetch('/api/roles', {
        method : 'GET',
        headers : {
            'Content-Type' : 'application/json'
        }
    })

    const roleFetchResponse = await roleFetch.json();
    for (const role of roleFetchResponse.result) {
        roles.push({value: role.id , label: role.name});
    }
    return roles
}

async function updateUserRole(){
    let success = false;
    const roleUpdate = await fetch('/api/roles', {
        method : 'PUT',
        body : JSON.stringify({roleId : selectedRole, userId: selectedUser}),
        headers : {
            'Content-Type' : 'application/json'
        }
    })

    const roleUpdateResult = await roleUpdate.json();
    handleUserChange()
}


</script>

<h1> Role manage page! </h1>


    <!-- svelte-ignore a11y-no-onchange -->
<select bind:value={selectedUser} on:change="{handleUserChange}">
    {#each users as user}
        <option value={user.value}>{user.label}</option>
    {/each}
</select>
{#if fetched}
    {#await userInfoPromise}
        <p> Fetching user info! </p>
    {:then userInfo} 
        <p> User role: </p>
        <p>{userInfo.role_id} </p>
        {#await rolePromise}
            <select>
                <option>Awaiting roles</option>
            </select>
        {:then roles} 
            <p>Set user role as</p>
            <!-- svelte-ignore a11y-no-onchange -->
            <form on:submit|preventDefault="{updateUserRole}">
                <select bind:value={selectedRole}>
                    {#each roles as role}
                        <option value={role.value}>{role.label}</option>
                    {/each}
                </select>
                <button type="submit"> update Role </button>
            </form>
        {/await}
    {/await}
{/if}
