<script context="module">
    let fetchedItems = [];
    export async function preload(page,session) {
        //TODO: FLIKKER THIS IN  A COMPONENT OR A CALLABLE FUNCTION.
        const droptableFetch = await this.fetch('/api/droptable',{
            method: "GET",
            headers : {
            'Content-Type' : 'application/json'
            }
        })
        const itemResponse = await droptableFetch.json();
        for (const item of itemResponse.result) {
            fetchedItems.push({value: item.id, label: item.name})
        }
    }
</script>

<script>
    let selectedDroptable;

    async function handleDropTableChange(){

    }

    let error;
    let success;

    let dropTableName;
    async function addDropTable(){
        error = undefined;
        success = undefined;

        const addDroptableRequest = await fetch('/api/droptable',{
            method: "POST",
            body: JSON.stringify({dropTableName}),
            headers : {
            'Content-Type' : 'application/json'
            }
        })
        const addDropTableResponse = await addDroptableRequest.json();
        if(addDropTableResponse.result.error){
            error = addDropTableResponse.result.error;
        }else{
            success = addDropTableResponse.result.success;
        }
    }
</script>

<h1> Manage the droptables </h1>

<form on:submit|preventDefault="{addDropTable}">
    <label>
        Drop table name
        <input bind:value={dropTableName}>
    </label>
    <button type="submit"> Add droptable </button>
</form>

<br>

{#if error}
    <p> an error occurred:<br>{error}</p>
{/if}
{#if success}
    <p>{success}</p>
{/if}

<br>

<!-- svelte-ignore a11y-no-onchange -->
<select bind:value="{selectedDroptable}" on:change="{handleDropTableChange}">
    {#each fetchedItems as item }
        <option value={item.value}>{item.label}</option>
    {/each}
</select>
